@import "tailwindcss";

@theme {
  /* colors */
  --color-primaryDark: #8d5d11;
  --color-secondaryDark: #794720;
  --color-highlight: #ecab3c;
  --color-accent: #e22f59;

  /* text level colors */
  --color-one: rgba(255, 255, 255, 0.8);
  --color-two: rgba(255, 255, 255, 0.7);
  --color-three: rgba(255, 255, 255, 0.6);

  /* widths and spacings*/
  --spacing-app: 1100px;
  --spacing-module: 990px;
  --spacing-appY: 1rem;
  --spacing-appX: 1rem;

  /* fonts */
  --font-logo: "LimeLight", system-ui;
}
